body {
    max-width: 1335px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
}

.square {
    flex-basis: 5.6%;
    border: 1px solid black;
    border-radius: 4px; 
    position: relative;
    box-sizing: border-box;
    padding: 20px;
}

.hoverSquare{
    background-color: red;
}