body {
    max-width: 1335px;
    max-height: 1335px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
}
.line {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.square {
    flex-basis: auto;
    border: 1px solid black;
    border-radius: 4px; 
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
}


.hoverSquare{
    background-color: red;
}